/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin: 0;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    overflow: hidden;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
 

#qualityRange {
padding: 0;
}

button {
    cursor: pointer;
    background-color: #0075FF;
    color: white;
    border: none;
}

button:hover {
    background-color: #0050ac;
}

input[type="range"] {
    width: 10rem;
    color: #c24d4d;
}


@media screen and (max-width: 974px) {
    .container {
        text-align: center;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imageInput {
        width: 80svw;
    }
    #formatSelect {
        width: 80svw;
    }

    .container {
        width: 90svw;
    }
    
}

/* test */